<div style="margin: 5px 20px 5px 20px;">
	<div class="row">

		<div class="col-md-3 col-xs-6 text-left">
			<a routerLink="/dashboard" class="site_title">
				<span class="glyphicon glyphicon-king"></span>
				REYceitas
			</a>
		</div>

		<div class="hidden-lg hidden-sm hidden-md col-xs-6 text-right">
			<button *ngIf="!isLoggedIn" type="button" class="site_login btn btn-light" data-toggle="modal" data-target="#loginModal">
				<span class="glyphicon glyphicon-log-in"></span>
				Login
			</button>


			<a *ngIf="isLoggedIn" href="#" class="site_login" data-toggle="dropdown" data-target="#userTab">
				<span class="glyphicon glyphicon-user"></span>
				<span id="welcomeUserString">
					<strong>Bem vindo(a), {{usernameSession}}</strong>
				</span>
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>

			<div *ngIf="isLoggedIn" class="dropdown">
				<div class="dropdown-menu" style="margin: -10px 40px 0px 0px;">
					<li>
						<div class="navbar-login">
							<div class="row">
								<div class="col-lg-4">
									<p class="text-center">
										<span class="glyphicon glyphicon-user icon-size"></span>
									</p>
								</div>
								<div class="col-lg-8">
									<p class="text-left" id="fullnameString">
										<strong>{{fullnameSession}}</strong>
									</p>
									<p class="text-left small" id="emailString">{{emailSession}}</p>
									<p class="text-left">
										<a href="#" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#loginConfigurationModal">Update
											Information</a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="divider navbar-login-session-bg"></li>
					<li>
						<div class="navbar-login navbar-login-session">
							<div class="row">
								<div class="col-lg-12">
									<p>
										<a href="#" class="btn btn-danger btn-block" onClick="return logout();">Logout</a>
									</p>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div id="custom-search-input">
				<div class="input-group col-md-12">
					<input id="barSearch" type="text" class="form-control input-lg" placeholder="Buscar" [(ngModel)]="searchTerm"
					 onkeydown="if(event.keyCode == 13)document.getElementById('btnSearch').click();" />
					<span class="input-group-btn">
						<button id="btnSearch" class="btn btn-primary btn-lg" type="button" [routerLink]="['recipes', searchTerm ]">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>

		<div class="hidden-xs col-md-3 text-right">

			<button *ngIf="!isLoggedIn" type="button" class="site_login btn btn-light" data-toggle="modal" data-target="#loginModal">
				<span class="glyphicon glyphicon-log-in"></span>
				Login
			</button>


			<a *ngIf="isLoggedIn" href="#" class="site_login" data-toggle="dropdown" data-target="#userTab">
				<span class="glyphicon glyphicon-user"></span>
				<span id="welcomeUserString">
					<strong>Bem vindo(a), {{usernameSession}}</strong>
				</span>
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>

			<div *ngIf="isLoggedIn" class="dropdown">
				<div class="dropdown-menu" style="margin: -10px 40px 0px 0px;">
					<li>
						<div class="navbar-login">
							<div class="row">
								<div class="col-lg-4">
									<p class="text-center">
										<span class="glyphicon glyphicon-user icon-size"></span>
									</p>
								</div>
								<div class="col-lg-8">
									<p class="text-left" id="fullnameString">
										<strong>{{fullnameSession}}</strong>
									</p>
									<p class="text-left small" id="emailString">{{emailSession}}</p>
									<p class="text-left">
										<a href="#" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#loginConfigurationModal">Update
											Information</a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="divider navbar-login-session-bg"></li>
					<li>
						<div class="navbar-login navbar-login-session">
							<div class="row">
								<div class="col-lg-12">
									<p>
										<a href="#" class="btn btn-danger btn-block" onClick="return logout();">Logout</a>
									</p>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>

		</div>

	</div>
</div>



<!--login modal-->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header center-block col-md-12 col-sm-12 col-xs-12 text-center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h1 class="text-center">Login</h1>
			</div>
			<div class="modal-body">

				<div id="loginErrorAlert" class="alert alert-danger" role="alert" style="display:none">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Erro:</span>Nome de usuário ou senha inválidos
				</div>

				<form class="form col-md-12 center-block">
					<div class="form-group ">
						<input id="loginUsername" type="text" required=true class="form-control input-lg" [(ngModel)]="username"
						 [ngModelOptions]="{standalone: true}" placeholder="Nome de Usuário">
						 <div class="invalid-feedback">
							Nome de usuário não existe.
						</div>
					</div>
					<div class="form-group">
						<input id="loginPassword" type="password" required=true class="form-control input-lg" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
						 placeholder="Senha">
						<div class="invalid-feedback">
							Senha incorreta.
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block" (click)="submitLogin()">Entrar</button>
						<span class="pull-right">
							<a href="#" data-toggle="modal" data-target="#loginConfigurationModal">Crie sua conta</a>
						</span>
						<span>
							<a href="#" onClick="resetUsersPassword()">Esqueceu sua senha?</a>
						</span>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--login configuration modal-->
<div id="loginConfigurationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header center-block col-md-12 col-sm-12 col-xs-12 text-center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h1 class="text-center" id="loginConfigModalTitle">Informação do Usuário</h1>
			</div>
			<div class="modal-body">

				<div id="informationErrorAlert" class="alert alert-danger" role="alert" style="display:none">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					<a id="informationErrorAlertText" style="color:inherit;text-decoration: none">Senha inválida</a>
				</div>

				<form class="form col-md-12 center-block">
					<div *ngIf="!isLoggedIn" class="form-group">
						<input id="usernameConfig" type="text" required=true class="form-control input-lg" [(ngModel)]="usernameConfig"
						 [ngModelOptions]="{standalone: true}" placeholder="Nome de Usuário">
						<div class="invalid-feedback">
                            Campo inválido
						</div>
					</div>
					<div *ngIf="isLoggedIn" class="form-group">
						<strong>{{usernameSession}}</strong>
					</div>
					<div class="form-group">
						<input id="fullnameConfig" type="text" required=true class="form-control input-lg" [(ngModel)]="fullnameConfig"
						 [ngModelOptions]="{standalone: true}" placeholder="Nome Completo">
						<div class="invalid-feedback">
						    Campo inválido 
						</div>
					</div>
					<div class="form-group">
						<input id="emailConfig" type="email" required=true class="form-control input-lg" [(ngModel)]="emailConfig"
						 [ngModelOptions]="{standalone: true}" placeholder="Email">
						<div class="invalid-feedback">
						    Campo inválido 
						</div>
					</div>
					<div *ngIf="isLoggedIn" class="form-group">
						<input id="oldPasswordConfig" type="password" required=true class="form-control input-lg" [(ngModel)]="oldPasswordConfig"
						 [ngModelOptions]="{standalone: true}" placeholder="Senha Atual">
						<div class="invalid-feedback">
						    Senha inválida 
						</div>
					</div>
					<div class="form-group">
						<input id="passwordConfig" type="password" required=true class="form-control input-lg" [(ngModel)]="passwordConfig"
						 [ngModelOptions]="{standalone: true}" placeholder="Nova Senha">
						<div class="invalid-feedback">
                            Campo inválido
						</div>
					</div>
					<div class="form-group">
						<input id="passwordConfirmationConfig" type="password" required=true class="form-control input-lg" [(ngModel)]="passwordConfirmationConfig"
						 [ngModelOptions]="{standalone: true}" placeholder="Confirmar Nova Senha">
						<div class="invalid-feedback">
						    Confirmação de senha inválida 
						</div>
					</div>
					<div *ngIf="!isLoggedIn" class="form-group">
						<button class="btn btn-primary btn-lg btn-block" id="loginConfigSubmitButton" (click)="submitNewUser()">Criar
							Conta</button>
					</div>
					<div *ngIf="isLoggedIn" class="form-group">
						<button class="btn btn-primary btn-lg btn-block" id="loginConfigSubmitButton" (click)="submitChangesInUser()">Editar
							Usuário</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>
