<section id="items">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Receitas</h2>
      </div>
    </div>
    <div class="row">

      <!-- First recipe item -->
      <div *ngFor="let recipe of recipes;let index = index;" class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
        <div *ngIf="((term == &quot;all&quot;)||((term == &quot;favs&quot;)&&(recipeFavourite[index]))||((term == &quot;owned&quot;)&&(recipeOwned[index])))" class="recipe-item text-center" >
          <div style="height: 178px; overflow: hidden;">
              <a routerLink="/details/{{recipe.id}}" class="noselect" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                <img *ngIf="recipe.photos && recipe.photos.length" [src]="getImageSrc(0, recipe)" alt="foto da receita"  />
                <img *ngIf="!recipe.photos || !recipe.photos.length" src="../../assets/images/imgThumbnailPlaceholder.svg" alt="thumbnail-img"  />
    
              </a>
          </div>
          
          <br />
          <h3 routerLink="/details/{{recipe.id}}" class="noselect" unselectable="on" onselectstart="return false;" onmousedown="return false;">
            {{recipe.name}}
          </h3>
        </div>
      </div>

    </div>

    <!-- Back to dashboard -->
    <div class="row wow rollIn">
      <div class="col-12 text-center">
        <button class="btn btn-primary" routerLink="/dashboard">
          <i class="fa fa-backward" aria-hidden="true"></i>
          Voltar para página inicial
        </button>
      </div>
    </div>

  </div>
</section>
