<!--<div *ngIf="recipe">

  <h2>{{recipe.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{recipe.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="recipe.name" placeholder="name">
    </label>
  </div>

</div> -->

<!-- Recipe Section
  =================== -->
<section id="recipe">
  <div class="container">
    <div class="row">
      <!-- Title -->
      <h2 *ngIf="!editing">{{recipe.name}}
        <button type="button" class="btn-lg btn-primary" (click)="toggleEditing()">
          <i class="fa fa-pencil-alt fa-lg" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn-lg btn-danger" (click)="delete()">
          <i class="fa fa-trash-alt fa-lg" aria-hidden="true"></i>
        </button>
      </h2>

      <!-- EDITING Title -->
      <div *ngIf="editing" class="col">
        <h1 class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <input class="form-control" *ngIf="editing" [(ngModel)]="recipe.name" placeholder="nome da receita" ng-disabled="editing"
              style="padding:20px; margin-bottom:10px;" id="recipeNameEditor">
            <div class="invalid-feedback">
              A receita precisa ter um nome para ser salva.
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <button *ngIf="!newRecipe" type="button" class="btn-lg btn-primary" (click)="toggleEditing()">
              <i class="fa fa-pencil-alt fa-lg" aria-hidden="true"></i>
            </button>
            <button *ngIf="!newRecipe" type="button" class="btn-lg btn-danger" (click)="toggleEditing()">
              <i class="fa fa-trash-alt fa-lg" aria-hidden="true"></i>
            </button>
          </div>

        </h1>
      </div>

    </div>

    <div class="row ">
      <div class="col">

        <!-- Picture-->
        <div class="col-md-8 wow swing " *ngIf="!editing && recipe.photos && recipe.photos.length > 0">
          <div id="carouselExampleIndicators" class="carousel slide recipe-picture" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" *ngFor="let photo of recipe.photos;let index = index;trackBy:trackByFn" [ngClass]="{active: index == 0}"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item" *ngFor="let photo of recipe.photos;let index = index;trackBy:trackByFn" [ngClass]="{active: index == 0}">
                <img class="d-block w-100" [src]="getImageSrc(index)" alt="index">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="col-md-8 wow swing " *ngIf="!editing && (!recipe.photos || recipe.photos.length == 0)">
          <img class="d-block w-100" src="../../../assets/images/imgThumbnailPlaceholder.svg" alt="index">
        </div>

        <!-- EDITING Picture-->
        <div class="col-md-8 wow swing " *ngIf="editing">
          <div class="image-info">
            <h3>Imagens</h3>

            <div class="row" *ngFor="let photo of recipe.photos;let index = index;trackBy:trackByFn">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <img class="thumbnail-image" [src]="getImageSrc(index)">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                <button class="btn btn-danger" (click)="deleteImage(index)">
                  <i class="fa fa-times" style="color:white" aria-hidden="true"></i>
                  Deletar Imagem
                </button>
                <!--
                  <button class="btn btn-primary" (click)="reuploadImage(index)">
                  <i class="fa fa-upload" style="color:white" aria-hidden="true"></i>
                  Fazer Re-upload da Imagem
                </button>
                -->

              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                <!--
                <button class="btn btn-danger" (click)="deleteImage(index)">
                  <i class="fa fa-times" style="color:white" aria-hidden="true"></i>
                  Deletar Imagem
                </button>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                <form method='post' action='' enctype='multipart/form-data'>

                  <input id="fileUploader" type="file" name="file[]" multiple (change)="addImage()">
                  <!--
                  <button class="btn btn-primary" (click)="addImage()">
                    <i class="fa fa-upload" style="color:white" aria-hidden="true"></i>
                    Upload
                  </button>-->

                </form>

              </div>
            </div>



          </div>
        </div>


        <!-- Info -->
        <div class="col-md-4 wow lightSpeedIn">
          <div class="recipe-info">
            <h3>Informações</h3>

            <!-- Time -->
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-clock" aria-hidden="true"></i>
              </div>
              <p class="col-md-6 col-sm-6 col-xs-6 text-center">Tempo</p>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <input class="form-control" *ngIf="editing" [(ngModel)]="recipe.duration" placeholder="duração" ng-disabled="editing">
                <p *ngIf="!editing">
                  {{recipe.duration}}
                </p>
              </div>
            </div>

            <!-- Difficulty -->
            <div *ngIf="!editing" class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-chart-area" aria-hidden="true"></i>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center">Dificuldade</div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <i *ngFor="let stars of numberOfDifficultyStars" class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>

            <!-- EDITING Difficulty -->
            <div *ngIf="editing" class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-chart-area" aria-hidden="true"></i>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center">Dificuldade</div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <input class="form-control" type="number" min="1" *ngIf="editing" [(ngModel)]="recipe.difficulty" placeholder="nota" ng-disabled="editing">
              </div>
            </div>

            <!-- Serves -->
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center">Serve</div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <input class="form-control" type="number" min="1" *ngIf="editing" [(ngModel)]="recipe.servings" placeholder="n pessoas" ng-disabled="editing">
                <div *ngIf="!editing">
                  {{recipe.servings}}
                </div>

              </div>
            </div>

            <!-- seen by -->
            <div class="row" *ngIf="editing">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center">Visibilidade</div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#visibilityModal">
                  <i class="fa fa-pencil-alt" style="color:white;"></i>
                </button>
                <!--
                <input class="form-control" *ngIf="editing" [(ngModel)]="recipe.authenticationLevelRequired" placeholder="nivel" ng-disabled="editing">
                <div *ngIf="!editing">
                  {{recipe.authenticationLevelRequired}}
                </div>-->
              </div>
            </div>

            <!-- created by -->
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center">Criada por</div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                {{recipe.userId}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Description -->
    <div *ngIf="!editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-directions">
          <h3>Descrição</h3>
          <ol>
            {{recipe.description}}
          </ol>
        </div>

      </div>

    </div>

    <!--EDITING Description -->
    <div *ngIf="editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-directions">
          <h3>Descrição</h3>
          <ol>
            <textarea class="form-control" [(ngModel)]="recipe.description" placeholder="insira a descrição"></textarea>
          </ol>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <div *ngIf="!editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-ingredients">
          <h3 style="background-color: #f1f1f1;">Ingredientes</h3>
          <dl class="ingredients-list">
            <div *ngFor="let ingredient of recipe.ingredients">
              <dt>{{ingredient.amount}}</dt>
              <dd>{{ingredient.unit}} de {{ingredient.name}}</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <!-- EDITING Ingredients -->
    <div *ngIf="editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-ingredients">
          <h3 style="background-color: #f1f1f1;">Ingredientes</h3>
          <dl class="ingredients-list">
            <div *ngFor="let ingredient of recipe.ingredients;let index = index;">
              <div class="col-md-11">
                <dt>
                  <input class="form-control" type="number" min="0.1" *ngIf="editing" [(ngModel)]="recipe.ingredients[index].amount" placeholder="quantidade"
                    ng-disabled="editing">
                </dt>
                <dd>
                  <div class="input-group">

                    <input class="form-control" *ngIf="editing" [(ngModel)]="recipe.ingredients[index].unit" placeholder="unidade de medida"
                      ng-disabled="editing">
                    <span class="input-group-addon">de</span>
                    <input class="form-control" *ngIf="editing" [(ngModel)]="recipe.ingredients[index].name" placeholder="ingrediente" ng-disabled="editing">

                  </div>
                </dd>

              </div>
              <div class="col-md-1">
                <button class="btn btn-danger btn-sm " (click)="removeIngredient(index)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>

            </div>
          </dl>
        </div>

      </div>

    </div>
    <button *ngIf="editing" class="btn btn-success " (click)="addIngredient()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>


    <!-- Directions -->
    <div *ngIf="!editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-directions">
          <h3>Modo de Preparo</h3>
          <ol>
            <li *ngFor="let steps of recipe.preparation">
              {{steps}}
            </li>
          </ol>
        </div>

      </div>

    </div>

    <!--EDITING Directions -->
    <div *ngIf="editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-directions">
          <h3>Modo de Preparo</h3>
          <ol>
            <div class="row" *ngFor="let steps of recipe.preparation;let index = index;trackBy:trackByFn">
              <div class=" col-xs-11 col-sm-11 col-md-11">
                <li>
                  <textarea class="form-control" [(ngModel)]="recipe.preparation[index]" placeholder="insira o passo"></textarea>
                </li>
              </div>
              <div class=" col-xs-11 col-sm-11 col-md-1">
                <button class="btn btn-danger btn-sm" (click)="removeDirection(index)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>

          </ol>
          <button class="btn btn-success " (click)="addDirection()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Tags -->
    <div *ngIf="!editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-directions">
          <h3>Tags</h3>
          <ol *ngIf="tags && tags.length">
            <button class="btn btn-light" *ngFor="let tag of recipe.tags" routerLink="/recipes/{{tag}}">
              {{getTagFromId(tag)}}
              <!--{{tags[tag].name}}-->
            </button>
          </ol>
        </div>
      </div>
    </div>

    <!-- EDITING Tags -->
    <div *ngIf="editing" class="row wow slideInUp">
      <div class="col-12">
        <div class="recipe-directions">
          <h3>Tags</h3>
          <ol>
            <a *ngIf="recipe.tags">
              <button class="btn btn-light" *ngFor="let tag of recipe.tags;let index = index;trackBy:trackByFn">
                {{getTagFromId(tag)}}
                <!--{{tags[tag].name}}-->
                <i class="fa fa-times fa-fw " aria-hidden="true" (click)="removeTag(index)"></i>
              </button>
            </a>

            <select [(ngModel)]="selectedTag">
              <option *ngFor="let tagOption of availableTags" [ngValue]="tagOption.id">
                {{tagOption.name}}
              </option>
            </select>

            <button class="btn btn-success " (click)="addTag()">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>

          </ol>
        </div>
      </div>
    </div>


    <!-- Edit options -->
    <div *ngIf="editing" class="row wow rollIn">
      <div class="col-12 text-center">
        <button *ngIf="!newRecipe" class="btn btn-danger" (click)="toggleEditing()">
          <i class="fa fa-times" aria-hidden="true"></i>
          Cancelar
        </button>

        <button class="btn btn-success" (click)="save()">
          <i class="fa fa-check" aria-hidden="true"></i>
          Salvar
        </button>
      </div>
    </div>

    <!-- Back to recipes -->
    <div class="row wow rollIn">
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="goBack()">
          <i class="fa fa-backward" aria-hidden="true"></i>
          Voltar
        </button>
      </div>
    </div>

  </div>
</section>


<!--visibility modal-->
<div id="visibilityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header center-block col-md-12 col-sm-12 col-xs-12 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Gerenciar Visibilidade</h1>
      </div>
      <div class="modal-body">

        <form class="form col-md-12 center-block">

          <div *ngIf="userGroups">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nome do Grupo</th>
                  <th class="recipe-info">
                    <i class="fa fa-eye fa-fw " aria-hidden="true" style="margin-right:10px;"></i>
                    <input type="checkbox" class="form-check-input" id="visibilityAll" (click)="setVisibilityCheckboxes('visibilityAll')">
                  </th>
                  <th class="recipe-info">
                    <i class="fa fa-pencil-alt fa-fw " aria-hidden="true" style="margin-right:10px;"></i>
                    <input type="checkbox" class="form-check-input" id="editingAll" (click)="setVisibilityCheckboxes('editingAll')">
                  </th>
                </tr>
              </thead>
              <tbody>
                <td style="background-color: #ececec">Público</td>
                <td class="recipe-info" style="background-color: #ececec">
                  <i class="fa fa-eye fa-fw " aria-hidden="true" style="margin-right:10px;"></i>
                  <input type="checkbox" class="form-check-input" id="visibilityPublic" (click)="setVisibilityCheckboxes('visibilityPublic')">
                </td>
                <td class="recipe-info" style="background-color: #ececec">
                  <i class="fa fa-pencil-alt fa-fw " aria-hidden="true" style="margin-right:10px;"></i>
                  <input type="checkbox" class="form-check-input" id="editingPublic" (click)="setVisibilityCheckboxes('editingPublic')">
                </td>
                <tr *ngFor="let group of userGroups;let index = index;trackBy:trackByFn">
                  <td>{{group.name}}</td>
                  <td class="recipe-info">
                    <i class="fa fa-eye fa-fw " aria-hidden="true" style="margin-right:10px;"></i>
                    <input type="checkbox" class="form-check-input" id="visibility{{group.id}}" (click)="setVisibilityCheckboxes(group.id)">
                  </td>
                  <td class="recipe-info">
                    <i class="fa fa-pencil-alt fa-fw " aria-hidden="true" style="margin-right:10px;"></i>
                    <input type="checkbox" class="form-check-input" id="editing{{group.id}}" (click)="setVisibilityCheckboxes(group.id)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal" (click)="submitVisibilityChanges()">Salvar</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>