#items {
    background-color: #f1f1f1;
    padding: 24px;
  }

  #icons-dash h3 {
    margin-top: 12px;
    font-size: 3em;
    color: #666;
  }

  canvas {
      padding: 20px;
  }

  .recipe-item {
    margin-bottom: 24px;
    padding-bottom: 12px;
    background-color: white;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    cursor: pointer;
  }
  .recipe-item img {
    width: 100%;
    height: auto;
  }
  .recipe-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .recipe-item .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recipe-item h3 {
    margin: 0
  }

  .recipeDisplayCarousel 
  {
    padding: 24px;
  }
  /* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
 width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}


/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}