<section id="items">

  <div class="row">

    <!-- First recipe item -->
    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3 text-right">
            <h1 style="color: #7d6fce; vertical-align: middle;">
              <i class="fa fa-search-plus fa-fw " aria-hidden="true"></i>
            </h1>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 text-left">
            <h1>
              Busca Avançada
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row" routerLink="/recipes">
          <div class="col-md-3 col-sm-3 col-xs-3 text-right">
            <h1 style="color: #487bce; vertical-align: middle;">
              <i class="fa fa-folder-open fa-fw " aria-hidden="true"></i>
            </h1>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 text-left">
            <h1>
              Ver Receitas
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3 text-right">
            <h1 style="color: rgb(28, 207, 67); vertical-align: middle;">
              <i class="fa fa-plus-circle fa-fw " aria-hidden="true"></i>
            </h1>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 text-left">
            <h1>
              Adicionar Receita
            </h1>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <!-- First recipe item -->
    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #dfc013; vertical-align: middle;">
            <i class="fa fa-star fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #915721; vertical-align: middle;">
            <i class="fa fa-coffee fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #dd73d8; vertical-align: middle;">
            <i class="fa fa-birthday-cake fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #72ce6f; vertical-align: middle;">
            <i class="fa fa-feather-alt  " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #777777; vertical-align: middle;">
            <i class="fa fa-utensils fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #6fcebe; vertical-align: middle;">
            <i class="fa fa-utensil-spoon fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #926d4b; vertical-align: middle;">
            <i class="fa fa-cookie-bite fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #6f98ce; vertical-align: middle;">
            <i class="fa fa-fish fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #ce926f; vertical-align: middle;">
            <i class="fa fa-crow fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #ce926f; vertical-align: middle;">
            <i class="fa fa-piggy-bank fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #ce926f; vertical-align: middle;">
            <i class="fa fa-chess-knight fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-4 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3 style="color: #9dce6f; vertical-align: middle;">
            <i class="fa fa-apple-alt fa-fw " aria-hidden="true"></i>
          </h3>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-9 col-md-9 col-sm-12 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 wow fadeIn">
      <div class="recipe-item text-center">
        <div class="row">
          <h3>1092</h3>
          <h4>Receitas salvas</h4>
        </div>
      </div>
      <div class="recipe-item text-center">
        <div class="row">
          <h3>10</h3>
          <h4>Usuários Cadastrados</h4>
        </div>
      </div>

    </div>

  </div>

</section>