/* You can add global styles to this file, and also import other style files */
/*
** Fonts
** -----------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@font-face {
   font-family: 'Quirlycues';
   src: url(/src/assets/fonts/Quirlycues.ttf);
}

/*
** Base html
** -----------------------------------------------------------------------------
*/

body {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.50;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.vertical-align {
  display: flex;
  align-items: center;
}